* {
    background-color: #0b0c0c;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    color: #d8dee9;
    background-color: #1f2122;
    border: none;
}

button > label {
    background-color: transparent;
    border: none;
}

entry {
    background-color: #252728;
    color: #ffffff;
}

#title {
    font-size: 70px;
    font-weight: bold;
}

#erro {
    font-style: italic;
    color: #c45555;
}